.users
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    .mat-card
        width: 25%
        min-width: 200px
        max-width: 400px
        margin-top: 10px
        margin-bottom: 10px